<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.service.mapper.ServiceMapper">
	
	<select id="queryPageList" resultType="com.campgem.modules.service.vo.ServiceVo">
		SELECT
			s.id,
			s.uid,
			s.seller_name,
			s.identity,
			s.category_id,
			s.sale_price,
			( SELECT SUM(( security_rating + environment_rating + service_rating + price_rating ) / 4 ) / COUNT(*) FROM
			service_evaluation se WHERE se.service_id = s.id ) AS stars,
			s.service_name,
			( SELECT si.service_image FROM service_images si WHERE si.service_id = s.id AND is_list_image = 1 LIMIT 1 ) AS
			list_image,
			s.tags,
			s.view_count,
			s.sale_count
		FROM
		service s
		WHERE s.del_flag = 0 AND s.status = 1
		<if test="categoryId != 'all'">
			AND s.category_id = #{categoryId}
		</if>
		<choose>
			<when test="sort == 0">
				ORDER BY s.create_time DESC
			</when>
			<when test="sort == 1">
				ORDER BY s.sale_count DESC
			</when>
			<when test="sort == 2">
				ORDER BY s.sale_price ASC
			</when>
			<when test="sort == 3">
				ORDER BY s.sale_price DESC
			</when>
		</choose>
		LIMIT #{start}, #{pageSize}
	</select>
	
	<resultMap id="serviceDetailMap" type="com.campgem.modules.service.vo.ServiceDetailVo">
		<id column="sid" property="id"/>
		<collection property="images" select="com.campgem.modules.service.mapper.ServiceImagesMapper.queryServiceImages"
		            ofType="com.campgem.modules.service.entity.ServiceImages" column="sid"/>
	</resultMap>
	<select id="queryServiceDetail" resultMap="serviceDetailMap">
		SELECT s.id AS sid,
		       s.uid,
		       s.seller_name,
		       s.identity,
		       s.category_id,
		       s.sale_price,
		       (SELECT SUM((security_rating + environment_rating + service_rating + price_rating) / 4) / COUNT(*)
		        FROM service_evaluation se
		        WHERE se.service_id = s.id) AS stars,
		       s.service_name,
		       s.tags,
		       s.view_count,
		       s.sale_count,
		       m.opening_time,
		       m.closing_time,
		       m.address
		FROM service s
			     LEFT JOIN member m ON m.id = s.uid
		WHERE s.del_flag = 0
		  AND s.status = 1
		  AND s.id = #{serviceId}
	</select>
</mapper>