<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.service.mapper.ServiceImagesMapper">
	
	<select id="queryServiceImages" resultType="com.campgem.modules.service.entity.ServiceImages">
		SELECT *
		FROM service_images
		WHERE service_id = #{serviceId}
		ORDER BY is_list_image DESC
	</select>
</mapper>