<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.user.mapper.MemberMapper">

	<sql id="queryConditions">
		<where>
			<if test="1 == 1">
				<![CDATA[ member.del_flag = 0  ]]>
			</if>
			<if test="null != queryDto.memberType and queryDto.memberType != ''">
				<![CDATA[ AND member.member_type = #{queryDto.memberType}  ]]>
			</if>
			<if test="null != queryDto.email and queryDto.email != ''">
				<!--<bind name="cname" value="'%' + queryDto.clubName + '%'" />-->
				<![CDATA[ AND user.email = #{queryDto.email}  ]]>
			</if>
			<if test="null != queryDto.mobile and queryDto.mobile != ''">
				<!--<bind name="cname" value="'%' + queryDto.clubName + '%'" />-->
				<![CDATA[ AND user.mobile = #{queryDto.mobile}  ]]>
			</if>
		</where>
	</sql>

	<update id="updateUserShoppingMethods">
		UPDATE member
		SET shipping_methods = #{vos, typeHandler=com.campgem.common.typehandler.JsonListTypeHandler}
		WHERE user_base_id = #{uid}
		  AND del_flag = 0
	</update>
	
	<select id="queryShoppingMethods" resultType="java.lang.String">
		SELECT shipping_methods
		FROM member
		WHERE user_base_id = #{uid}
	</select>
	
	<select id="queryBusinessDetail" resultType="com.campgem.modules.service.vo.BusinessDetailVo">
		SELECT m.id,
		       m.business_name,
		       ub.src_face,
		       m.opening_time,
		       m.closing_time,
		       m.address
		FROM member m
			     LEFT JOIN user_base ub on ub.id = m.user_base_id
		WHERE m.user_base_id = #{uid}
		  AND m.del_flag = 0
	</select>
	<select id="getMemberByUserBaseId" resultType="com.campgem.modules.user.vo.MemberVo">
		SELECT *
		FROM member m
		LEFT JOIN user_base ub on ub.id = m.user_base_id
		WHERE m.user_base_id = #{id}
	</select>

	<select id="queryMemberByIds" resultType="com.campgem.modules.user.vo.MemberVo"
			parameterType="java.lang.String">
			SELECT
			       m.*
			FROM member m
			WHERE m.id in (${memberIds}) order by field(m.id,${memberIds})
	</select>
	<select id="queryDetails" resultType="com.campgem.modules.user.vo.MemberVo"
			parameterType="java.lang.String">
		SELECT
			member.`*`,
			user.face
		FROM
			member member LEFT JOIN user_base user on member.user_base_id = user.id
	</select>
	<select id="queryPageList" resultType="com.campgem.modules.user.vo.MemberVo">
		SELECT
			member.`*`,
			user.face
		FROM
			member member LEFT JOIN user_base user on member.user_base_id = user.id
		<include refid="queryConditions"></include>
	</select>
</mapper>