<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.trade.mapper.CartMapper">
	
	<select id="queryCartList" resultType="com.campgem.modules.trade.vo.CartGoodsTempVo">
		SELECT c.id,
		       c.seller_name,
		       c.goods_id,
		       (SELECT goods_image FROM goods_images WHERE goods_id = g.id LIMIT 1) AS goods_icon,
		       g.end_date,
		       IF
			       (g.identity = 1, gs.specifications_price, g.sale_price)          AS sale_price,
		       g.origin_price,
		       g.goods_name,
		       g.status,
		       g.taxes,
		       g.identity
		FROM cart c
			     LEFT JOIN goods g ON g.id = c.goods_id
			     LEFT JOIN goods_specifications gs ON gs.id = c.specifications_id
		WHERE c.uid = #{uid};
	</select>
	
	<resultMap id="goodsOrderInfoMap" type="com.campgem.modules.trade.vo.OrderInfoTempVo">
		<result property="shippingMethods" column="shipping_methods"
		        javaType="com.campgem.modules.user.vo.ShippingMethodsVo" typeHandler="com.campgem.common.typehandler.JsonListTypeHandler" />
	</resultMap>
	
	<select id="queryOrderInfo" resultMap="goodsOrderInfoMap">
		SELECT
		    c.id AS cart_id,
		    c.goods_id,
			g.goods_name,
			g.identity,
		    g.uid as seller_id,
			g.seller_name,
			c.quantity,
			(SELECT goods_image FROM goods_images gi WHERE gi.goods_id = c.goods_id LIMIT 1) AS goods_icon,
			IF
				(
					c.specifications_id IS NULL,
					g.sale_price,
					( SELECT concat(specifications_price, ',', specifications_name) FROM goods_specifications gs where gs.id = c.specifications_id )) AS specification,
			g.taxes,
		    m.shipping_methods
		FROM
			cart c
				LEFT JOIN goods g ON g.id = c.goods_id
				LEFT JOIN member m ON m.user_base_id = c.seller_id
		WHERE
			c.uid = #{uid}
		  AND c.id IN
			<foreach item="item" index="index" collection="cartIds"
			         open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
</mapper>