<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.trade.mapper.GoodsSpecificationsMapper">
	<update id="updateStock">
		UPDATE goods_specifications
		SET
		    <if test="type == 1">
			    specifications_stock = specifications_stock + #{stock}
		    </if>
		    <if test="type == 2">
			    specifications_stock = specifications_stock - #{stock}
		    </if>
		WHERE id = #{id}
	</update>
	
	<select id="queryGoodsSpecifications" resultType="com.campgem.modules.trade.vo.GoodsSpecificationsVo">
		SELECT id, specifications_name, specifications_price, specifications_stock
		FROM goods_specifications
		WHERE goods_id = #{goodsId}
	</select>
</mapper>