<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.trade.mapper.OrderMapper">
	
	<update id="updatePayId">
		UPDATE orders o
		SET o.pay_id = #{payId}
		WHERE o.id IN
		<foreach item="item" index="index" collection="ids"
		         open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<update id="paypalSuccess">
		UPDATE orders o
		SET o.status       = 1,
		    o.payment_time = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%m:%s')
		WHERE pay_id = #{payId}
	</update>
	
	<update id="updateOrderStatusExpiredByIds">
		UPDATE orders o
		SET o.status = 4
		WHERE o.id IN
		<foreach item="item" index="index" collection="ids"
		         open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<resultMap id="expiredOrders" type="com.campgem.modules.common.vo.OrdersTaskVo" >
		<id property="id" column="oid" />
		<collection property="goods" ofType="com.campgem.modules.common.vo.OrdersGoodsTaskVo"
		            select="com.campgem.modules.trade.mapper.OrderGoodsMapper.queryOrderGoodsTaskList" column="oid"/>
	</resultMap>
	<select id="queryExpiredOrderList" resultMap="expiredOrders">
		SELECT o.id         AS oid,
		       o.status
		FROM orders o
		WHERE UNIX_TIMESTAMP(o.expired_time) &lt; UNIX_TIMESTAMP(NOW())
		  AND o.status = 0
	</select>
</mapper>