<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campgem.modules.common.mapper.SysAnnouncementSendMapper">

	<select id="queryByUserId" parameterType="String"  resultType="String">
	   select sas.annt_id from sys_announcement_send sas 
	   where sas.user_id = #{userId}
	</select>

	<select id="getMyAnnouncementSendList"  resultType="com.campgem.modules.common.dto.AnnouncementSendModel">
	   select 
	   		sas.id,
	   		sas.annt_id,
	   		sas.user_id,
	   		sas.read_flag,
	   		sa.titile as titile,
	   		sa.msg_content as msg_content,
	   		sa.sender as sender,
	   		sa.priority as priority,
	   		sa.msg_category,
	   		sa.send_time as send_time
	   from sys_announcement_send sas 
	   left join sys_announcement sa ON sas.annt_id = sa.id
	   where sa.send_status = '1'
	   and sa.del_flag = '0'
	   and sas.user_id = #{queryObj.userId}
	   <if test="queryObj.titile !=null and queryObj.titile != ''">
	   		and sa.titile = #{queryObj.titile}
	   </if>
	   <if test="queryObj.sender !=null and queryObj.sender != ''">
	   		and sa.sender = #{queryObj.sender}
	   </if>
	   order by sa.send_time desc
	</select>
	
</mapper>